name: Python tests

on: [push]

env:
  PYTHON_VERSION: {{python_version}}
  POETRY_VERSION: {{poetry_version}}
  PROJECT_KEY: thegangtechnology_{{project_name}}

jobs:
  # yes this seems stupid but read https://github.com/orgs/community/discussions/26671
  # you can't use env directly in reusable workflow. Seems very arbitary to me though.
  get-env:
    name: Get Environment vars
    runs-on: ubuntu-latest
    outputs:
      PYTHON_VERSION: {% raw %}${{ env.PYTHON_VERSION }}{% endraw %}
      POETRY_VERSION: {% raw %}${{ env.POETRY_VERSION }}{% endraw %}
      PROJECT_KEY: {% raw %}${{ env.PROJECT_KEY }}{% endraw %}
    steps:
      - run: echo "null"

  lint:
    needs: get-env
    uses: thegangtechnology/shared-workflow/.github/workflows/python-lint.yml@main
    with:
      python-version: {% raw %}${{ needs.get-env.outputs.PYTHON_VERSION }}{% endraw %}

  test-and-sonarqube:
    needs: get-env
    uses: thegangtechnology/shared-workflow/.github/workflows/python-test-sonarqube.yml@main
    with:
      python-version: {% raw %}${{ needs.get-env.outputs.PYTHON_VERSION }}{% endraw %}
      poetry-version: {% raw %}${{ needs.get-env.outputs.POETRY_VERSION }}{% endraw %}
      project-key: {% raw %}${{ needs.get-env.outputs.PROJECT_KEY }}{% endraw %}
    secrets:
      SONAR_TOKEN: {% raw %}${{ secrets.SONAR_TOKEN }}{% endraw %}
